In [1]:
import zoo
zoo.hours()

Open 9-5 daily

In [2]:
import zoo as menagerie
menagerie.hours()

Open 9-5 daily

In [5]:
import csv
books = [
    ["title", "author", "year"],
    ["The Weirdstone of Brisingamen", "Alan Garner", 1960],
    ["Perdido Street Station", "China Mi√©ville", 2000],
    ["Thud!", "Terry Pratchett", 2005],
    ["The Spellman Files", "Lisa Lutz", 2007],
    ["Small Gods", "Terry Pratchett", 1992]
]
with open("books2.csv", "w", newline="", encoding="utf-8") as file:
    writer = csv.writer(file)
    writer.writerows(books)

print("CSV file 'books2.csv' has been created successfully!")

CSV file 'books2.csv' has been created successfully!

In [1]:
import sqlite3

conn = sqlite3.connect("books.db")

cursor = conn.cursor()

cursor.execute("""
CREATE TABLE IF NOT EXISTS books (
    title TEXT,
    author TEXT,
    year INTEGER
)
""")

conn.commit()
conn.close()

print("Database and table created successfully!")

Database and table created successfully!

In [2]:
from sqlalchemy import create_engine, MetaData, Table
from sqlalchemy.orm import sessionmaker

engine = create_engine("sqlite:///books.db")
metadata = MetaData()
metadata.reflect(bind=engine)

books_table = metadata.tables["books"]

Session = sessionmaker(bind=engine)
session = Session()

query = session.query(books_table.c.title).order_by(books_table.c.title)
titles = query.all()

for title in titles:
    print(title[0])

session.close()